# Copyright (c) 2016, Ruslan Baratov
# All rights reserved.

# !!! DO NOT PLACE HEADER GUARDS HERE !!!

include(hunter_add_version)
include(hunter_cacheable)
include(hunter_download)
include(hunter_pick_scheme)

hunter_add_version(
    PACKAGE_NAME
    Autobahn-cpp
    VERSION
    "0.2.0-p2"
    URL
    "https://github.com/lucmichalski/autobahn-cpp/archive/0.2.0-p2.tar.gz"
    SHA1
    b407635627ed2692c05e13f8290a32615c8f016a
)

hunter_add_version(
    PACKAGE_NAME
    Autobahn-cpp
    VERSION
    "0.2.0-hunter-p1"
    URL
    "https://github.com/tatraian/autobahn-cpp/archive/0.2.0-hunter-p1.tar.gz"
    SHA1
    b407635627ed2692c05e13f8290a32615c8f016a
)

hunter_pick_scheme(DEFAULT url_sha1_cmake)
hunter_cacheable(Autobahn-cpp)
hunter_download(PACKAGE_NAME Autobahn-cpp)